Source: autodnd
Section: utils
Priority: optional
Maintainer: Riccardo Isola <riky.isola@gmail.com>
Build-Depends: debhelper (>= 10)
Homepage: https://github.com/RikyIsola/AutoDND


Package: autodnd
Architecture: any
Description: Add schedule to the gnome do not disturb
Depends: coreutils, python (>= 3.8), libglib2.0-bin
